<section class="page pedido">
    <app-back></app-back>
    <div class="titlePage">
        <h3>Chat</h3>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
    <!--cuadromodal-->
    <div class="container cuadro-modal" *ngIf="!isLoading">
        <div class="lineamedio"></div>
        <div class="row">
            <div class="areagris"></div>
            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">
                    <!-- tabs navigation -->
                    <div class="post-inner ">
                        <div class="container">

                            <div class="col-lg-12 form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- <h6 style="margin-bottom: 0px;"><b>Asunto: </b> &nbsp;{{ticket.tema}}</h6> -->
                                    </div>
                                    <div class="card-body" style="height: 500px;max-height: 500px;
                                overflow-y: auto;padding-top: 0px;" #scrollMe>
                                        <div class="row">

                                            <ng-container *ngFor="let item of mensajes">

                                                <!-- MENSAJE DE OTROS (Chofer/Cliente/Moderador) -->
                                                <div class="col-lg-12 p-4" *ngIf="user.uid !== item.de"
                                                    style="background: #ededed;">
                                                    <div class="media border-bottom">
                                                        <div class="media-body pl-3">
                                                            <h6 class="font-size-md mb-2">Receptor:</h6>
                                                            <p class="font-size-md mb-1">{{item.msm}}</p>
                                                            <span class="font-size-ms text-muted">{{item.createdAt |
                                                                date:'shortTime'}}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- MENSAJE MÍO (El que está logueado) -->
                                                <div class="col-lg-12 p-4 border-bottom" *ngIf="user.uid === item.de"
                                                    style="background: #f8f8f8;">
                                                    <div class="media text-right">
                                                        <div class="media-body pr-3">
                                                            <h6 class="font-size-md mb-2">Yo: {{user.first_name}}</h6>
                                                            <p class="font-size-md mb-1">{{item.msm}}</p>
                                                            <span class="font-size-ms text-muted">{{item.createdAt |
                                                                date:'shortTime'}}</span>
                                                        </div>
                                                        <img class="rounded-circle" width="50"
                                                            [src]="url+'user/data/'+user.uid">
                                                    </div>
                                                </div>

                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <form #msmForm="ngForm" (ngSubmit)="sendMessage(msmForm)">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" placeholder="Mensaje" required=""
                                            name="msm" [(ngModel)]="msn"></textarea>
                                        <div class="invalid-tooltip" *ngIf="msm_error" style="display: block;">Por favor
                                            escriba un mensaje!</div>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="custom-control custom-checkbox d-block">
                                            <input class="custom-control-input" type="checkbox" id="close-ticket"
                                                name="close_ticket" [(ngModel)]="close_ticket">
                                            <!-- <label class="custom-control-label" for="close-ticket">Enviar y cerrar el
                                                ticket</label> -->
                                        </div>
                                        <button class="btn btn-primary my-2" type="submit">Enviar</button>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                    <!-- tabs navigation -->
                </div>

            </div>
        </div>
    </div>
    <!--cuadromodal-->






</section>