<div class="product_list" *ngIf="asignacion">
    <div class="div1" routerLink="/order-detail">
        <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
    </div>
    <div class="div2">
        <h3>Order # {{asignacion._id | slice:0:8}}</h3>
        <p>Standard Delivery</p>
        <h4>{{asignacion.status}}</h4>
    </div>
    <div class="div3">
        <p> 1 item</p>
        <a [routerLink]="['/order-detail', asignacion._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-eye"></i>
            </button>
        </a>
    </div>
</div>
<div class="product_list" *ngIf="delivery">
    <div class="div1" routerLink="/order-detail">
        <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
    </div>
    <div class="div2">
        <h5>Order # {{delivery._id | slice:0:8}}</h5>
        <p>{{delivery.title}}</p>
        <p>{{delivery.tipovehiculo}}</p>
        <h4>{{delivery.status}}</h4>
    </div>
    <div class="div3" *ngIf="identity?.role ==='CHOFER'">
        <!-- <p> 1 item</p> -->
        <a *ngIf="delivery.status !== 'Confirmado'"[routerLink]="['/order-detail/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-eye"></i>
            </button>
        </a>
        <a *ngIf="delivery.status === 'Confirmado'" [routerLink]="['/order-detail/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-eye"></i>
            </button>
        </a>
    </div>
    <div class="div3" *ngIf="identity?.role ==='USER'">
        <!-- <p> 1 item</p> -->
        <a *ngIf="delivery.status === 'EDITANDO'" [routerLink]="['/delivery/paso1/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-pen"></i>
            </button>
        </a>
        <a *ngIf="delivery.status === 'ESPERANDO'" [routerLink]="['/delivery/confirmar/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-eye"></i>
            </button>
        </a>
        <a *ngIf="delivery.status === 'En Camino'" [routerLink]="['/order-detail/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-eye"></i>
            </button>
        </a>
        <a *ngIf="delivery.status === 'Entregado'" [routerLink]="['/order-detail/', delivery._id]">
            <button class="boton_azul_borde">
                <i class="fa fa-pen"></i>
            </button>
        </a>
    </div>
</div>
