<div class="itemdelivery">
  @if (display) {
    <div class="div1">
      <!-- <img [src]="(delivery.img ?? '') | imagenPipe: 'deliverys'" [alt]="delivery.titulo"> -->
      @if (delivery?.status) {
        <p>{{delivery?.status}}</p>
      }
    </div>
  }
  @if (display) {
    <div class="div2">
      @if (delivery?.title) {
        <p>{{delivery.title}}</p>
      }
      <p>Desde: {{delivery?.direccionRecogida}}</p>
      <p>Hasta: {{delivery?.direccionEntrega}} </p>
      @if (delivery?.fechaEnvio) {
        <p>{{delivery.fechaEnvio |date }}</p>
      }
      @if (delivery?.horaEnvio) {
        <p>{{delivery.horaEnvio }}</p>
      }
      @if (delivery?.tipovehiculo) {
        <p>{{delivery.tipovehiculo}}</p>
      }
      @if (delivery?.precio) {
        <p>{{delivery.precio|currency}}</p>
      }
    </div>
  }
  <div class="div3">
    @if (delivery?.alto) {
      <p>Alto: {{delivery.alto}}</p>
    }
    @if (delivery?.ancho) {
      <p>Ancho: {{delivery.ancho}}</p>
    }
    @if (delivery?.largo) {
      <p>Largo: {{delivery.largo}}</p>
    }
    @if (delivery?.peso) {
      <p>Peso: {{delivery.peso}}</p>
    }
  </div>

</div>
@if (delivery?.descripcion) {
  <div class="itemdeliveryDesc">
    <h3>Observaciones / Instrucciones: </h3>
    <p>{{delivery?.descripcion}}</p>
  </div>
}