<!-- <app-header></app-header> -->
<div class="container">
    <div class="saludo">
        <h2>Delivery Status</h2>
    </div>
     <div class="clear"></div>
        <div class="barra_progreso ">
            
            <div class="circulo_inicio"></div>
            <div class="circulo_progreso"></div>
            <div class="circulo_llegada"></div>
            <div class="barra_progreso__barra"></div>
        </div>
        <div class="num_tracking">
            <i class="fa fa-list"></i>
            <h3>Numero de Trackig</h3>
            <p>LGS-i92927839300763731</p>
        </div>
        <div class="product_list">
        <div class="div1">
            <img src="../assets/img/user.png" alt="">
        </div>
        <div class="div2">
            <h5>Pedro Perez</h5>
            <p>Av. Andres Bello </p>

        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->
            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>
        <div class="status mb-5" >
            <h1>Status Entrega</h1>
            <div class="empacado">
                <h2>En Camino</h2>
                <p>Pendiente de entrega detino</p>
            </div>
           
            
            <div class="empacado">
                <h2>Entregado</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div>
             <div class="empacado">
                <h2>Empacado</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div>
            
            <div class="mapa"></div>
            <button class="boton_azul_borde" >
                Calificar
            </button>
            <button class="boton_azul" routerLink="/mapa-page">
                mapa
            </button>
        </div>
</div>
<app-menufooter></app-menufooter>