


.tab-content-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    & .nav {
        display: flex;
        align-items: center;
        padding    : 6px;
        gap: 15px;
        & h3{
           font-size: 1.2em; 
        }

        & li {
            display: flex;
            padding  : 5px;
            font-size: 14px;
            color    : #333;
            gap: 15px;

            & a {
                color          : #333;
                text-decoration: none;

            }
        }
    }

    & .active {
        color: #b02b2b !important;
    }

}