<div class="container">
    <app-back></app-back>
    <app-loading *ngIf="isLoading"></app-loading>
    <app-itemcard *ngIf="!isLoading" [delivery]="delivery"></app-itemcard>
    <h2>Qué te gustaría enviar?</h2>


<form class=" p-t-20 col-xs-12" [formGroup]="deliverySizeForm" >
    <div class="col-sm-6">
        <div class="form-group ">
            <label>Titulo: Qué quieres enviar?</label>
            <input class="form-control" type="text" required placeholder="titulo" formControlName="titulo">
        </div>
    </div>
    <br>
    <h4>Especificaciones del envio</h4>
    <div class="col-sm-6 mb-2">
        <div class="form-group ">
            <label>Largo:(cm, m)</label>
            <input class="form-control" type="text" required placeholder="largo" formControlName="largo">
        </div>
    </div>
    <div class="col-sm-6 mb-2">
        <div class="form-group ">
            <label>Ancho: (cm, m)</label>
            <input class="form-control" type="text" required placeholder="ancho" formControlName="ancho">
        </div>
    </div>
    <div class="col-sm-6 mb-2">
        <div class="form-group ">
            <label>Alto: (cm, m)</label>
            <input class="form-control" type="text" required placeholder="alto" formControlName="alto">
        </div>
    </div>
    <div class="col-sm-6 mb-2">
        <div class="form-group ">
            <label>Peso: (gramos, kilos)</label>
            <input class="form-control" type="text" required placeholder="peso" formControlName="peso">
        </div>
    </div>

    <!-- Foto -->
    <!-- <div  style="height: auto; margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-">
            <div class="form-group">
                <div class="cz-file-drop-area">
                    <label for="file" class="upload labelgoogle">
                        <input type="file" accept="image/*" name="image" id="file"
                            (change)="cambiarImagen($any($event.target).files?.[0])" class="hide-input input">
                        <span class="label__name">
                            Imagen de Vehículo
                        </span>
                    </label>
                    <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="boton_azul_borde ">
                        <i class="fa fa-save"></i> Cambiar imagen
                    </button>


                </div>
            </div>
        </div>
    </div> -->
    <br>
    <button type="button"  class="boton_azul_borde mb-5 w-100" (click)="onSubmit()">
        Siguiente
    </button>
</form>
</div>