@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('registro-login.css');
@import url('home-usuario.css');
@import url('delivery-status.css');
@import url('header.css');
@import url('menufooter.css');
@import url('formulario-tipogoogle.css');
/* Base styles */  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --text: #333;
    --azul:#29336D;
    --rojo:#D5232D;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}


.logo img{
    height: 50px;
    display: flex;
}

.boton_azul{
    background-color: var(--azul);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

.boton_azul_borde{
    background-color:transparent;
    color: var(--azul);
    border: 2px solid var(--azul);
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.boton_azul_borde:hover{
    background-color: var(--azul);
    color: aliceblue;
    border: 2px solid var(--azul);
    cursor: pointer;
}

.boton_cuenta{
    padding: 10px 20px;
    width: 70vw;
    border-radius: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 10px auto  10px auto ;
    cursor: pointer;
}

.boton_cuenta .fa{
    border-radius: 100px;
    color: var(--rojo);
       font-size: 30px;
}

.container{
    padding: 0px 15px
}


.saludo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonera{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


