<app-header></app-header>
@if (isLoading) {
<app-loading></app-loading>
}
<!-- <app-back [pageTitle]="pageTitle"></app-back> -->
@if (!isLoading) {
<div class="container">
  <div class="saludo">
    <h2>Hola!, {{identity.first_name}}</h2>
  </div>
  <div class="product_list">
    <div class="div1">
      <img [src]="(identity.img ?? '') | imagenPipe: 'usuarios'" [alt]="identity.first_name">
    </div>
    <div class="div2">
      <p><b>Nombre:</b> {{identity.first_name}} {{identity.last_name}}</p>
      <p><b>Documento:</b> {{identity.numdoc}}</p>
      <p><b>Rol:</b> {{identity.role}}</p>
    </div>
    <div class="div3">
      <a [routerLink]="['/myprofile/', identity.uid]">
        <button class="boton_azul_borde">Editar</button>
      </a>
    </div>
  </div>
  @if (!identity?.telefono && !identity?.numdoc) {
  <div style="margin-bottom: 20px;">
    <app-aviso [aviso]="'Completa tu registro, preferiblemente un numero de Whatsapp '"></app-aviso>
  </div>
  }
  @if (identity && identity.role ==='USER') {
  <app-direcciones [identity]="identity"></app-direcciones>
  }
  @if (!driver && identity.role ==='CHOFER') {
  <app-aviso [aviso]="'Agrega Información de tu vehiculo'"></app-aviso>
  }
  @if (driver && !isLoading) {
  <div class="car_list">
    <div class="div1">
      <img [src]="(driver.img ?? '') | imagenPipe: 'drivers'" [alt]="driver.modelo">
    </div>
    <div class="div2">
      <p><b>Tipo Vehiculo:</b> {{driver.tipo_vehiculo}}</p>
      <p><b>Modelo:</b> {{driver.modelo}}</p>
      <p><b>Marca:</b> {{driver.marca}}</p>
      <p><b>Color:</b> {{driver.color}}</p>
      <p><b>Año:</b> {{driver.year}}</p>
      <p><b>Placa:</b> {{driver.placa}}</p>

    </div>
  </div>
  }
  @if (driver && !isLoading) {
  <div class="car_list">
    <div class="div1">
      @if (driver.tipo_vehiculo === 'Carro') {
      <span>
        <i class="fa fa-car fa-3x" aria-hidden="true"></i>
      </span>
      }
      @if (driver.tipo_vehiculo === 'Moto') {
      <span>
        <i class="fas fa-motorcycle fa-3x"></i>
      </span>
      }
      @if (driver.tipo_vehiculo === 'Camion') {
      <span>
        <i class="fas fa-truck fa-3x"></i>
      </span>
      }
      @if (driver.tipo_vehiculo === 'Camioneta') {
      <span>
        <i class="fas fa-truck-pickup fa-3x"></i>
      </span>
      }
      @if (driver.tipo_vehiculo === 'Pickup') {
      <span>
        <i class="fas fa-truck-pickup fa-3x"></i>
      </span>
      }
      @if (driver.tipo_vehiculo === 'Van') {
      <span>
        <i class="fas fa-truck-loading fa-3x"></i>
      </span>
      }
    </div>
    <div class="div2">
      <h5>Numero de licencia</h5>
      <p>{{driver.licencianum}}</p>
    </div>
  </div>
  }
  @if (driver) {
  <app-aviso [aviso]="'Tienes nuevas entregas por atender'"></app-aviso>
  }
</div>
}
<app-menufooter></app-menufooter>