<div class="container">
  <app-back></app-back>
  @if (isLoading) {
    <app-loading></app-loading>
  }
  @if (!isLoading) {
    <app-itemcard [delivery]="delivery"></app-itemcard>
  }
  <h2>Cuando te gustaría enviarlo?</h2>

  <form class=" p-t-20 col-xs-12" [formGroup]="deliveryForm" >
    <div class="col-sm-6">
      <div class="form-group ">
        <label>fecha</label>
        <input class="form-control" type="date" required placeholder="fechaEnvio" formControlName="fechaEnvio">
        @if(deliveryForm.controls['fechaEnvio'].touched){
        <div class="text-danger">
          @if(deliveryForm.controls['fechaEnvio'].errors?.['required']){
          <span>{{'Field Required'}}</span>
          }
          @if(deliveryForm.controls['fechaEnvio'].errors?.['minlength']){
          <span>{{'3 Charecters Minimal'}}</span>
          }
        </div>
        }
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group ">
        <label>hora</label>
        <input class="form-control" type="time" required placeholder="horaEnvio" formControlName="horaEnvio">
         @if(deliveryForm.controls['horaEnvio'].touched){
        <div class="text-danger">
          @if(deliveryForm.controls['horaEnvio'].errors?.['required']){
          <span>{{'Field Required'}}</span>
          }
          @if(deliveryForm.controls['horaEnvio'].errors?.['minlength']){
          <span>{{'3 Charecters Minimal'}}</span>
          }
        </div>
        }
      </div>
    </div>

    <br>
      <button type="submit"  class="boton_azul_borde mb-5 w-100" (click)="onSubmit()">
        Siguiente
      </button>
    </form>
  </div>