<app-loading *ngIf="isLoading"></app-loading>
<div class="container" *ngIf="!isLoading" style="padding-bottom: 40px;">
    <div class="saludo">
        <app-back></app-back>
        <h2>Detalle</h2>
    </div>

    <!-- <app-aviso  [aviso]="'Tienes nuevas entregas por atender'"></app-aviso> -->
    <!-- detales iniciales -->
    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <p># {{delivery._id | slice:0:10}}</p>
            <p>{{delivery.titulo}}</p>
            <h5>{{delivery.status}}</h5>
            <h5>{{delivery.tipovehiculo }}</h5>
            <h5>{{delivery.precio | currency}}</h5>
        </div>
        <div class="div3 botonera">
            <button class="boton_azul_borde" *ngIf="identity.role ==='CHOFER' && delivery.status ==='ESPERANDO'"
                (click)="activarDelivery()">Aplicar</button>
            <!-- <a routerLink="/delivery-status" *ngIf="identity.role ==='USER'">
                <button class="boton_azul_borde">Status</button>
            </a> -->
            <a [routerLink]="['/mapa-page/',delivery._id]" *ngIf="delivery.status !== 'Confirmado' && delivery.status !=='ESPERANDO'">
                <button class="boton_azul_borde">Mapa</button>
            </a>
        </div>
    </div>
    <!-- detales iniciales -->
    <!-- Info Destino -->
    <h4 *ngIf="identity.role ==='CHOFER'">Info Destino</h4>
    <div class="product_list" *ngIf="identity.role ==='CHOFER'">
        <div class="div1">
            <img src="../assets/img/user.png" alt="">
        </div>
        <div class="div2">
            <p>Usuario: {{userDriver.first_name}}</p>
            <p>email: {{userDriver.email}}</p>
            <!-- <p>telefono: {{userDriver.telefono}}</p> -->
        </div>
        <div class="div3" *ngIf="delivery.status !== 'Confirmado'">
            <!-- <p> Llamar </p> -->
            <button class="boton_azul_borde" (click)="sendWhatsAppOrder()">
                <i class="fa fa-whatsapp"></i>
                Enviar WhatsApp
            </button>
        </div>
    </div>

    <!-- Coordenadas -->
    <div class="num_tracking">
        <i class="fa fa-map-pin"></i>
        <h3>Coordenadas</h3>
        <p>Desde: {{delivery.direccionRecogida}}</p>
        <p>Hasta: {{delivery.direccionEntrega}}</p>
        <p>fecha: {{delivery.fechaEnvio}}</p>
        <p>hora: {{delivery.horaEnvio}}</p>
    </div>

    <!-- Info Chofer -->
    <h4 *ngIf="identity.role ==='USER'">Info Chofer</h4>
    <div class="product_list" *ngIf="identity.role ==='USER'">
        <div class="div1">
            <img [src]="(userDriver.img || '') | imagenPipe :'drivers'" alt="">

        </div>
        <div class="div2">
            <h4>{{userDriver.first_name}} {{userDriver.last_name}}</h4>
            <p>{{driver.modelo}} </p>
            <p>{{driver.placa}}</p>
            <p>{{driver.tipo_vehiculo}}</p>
            <div class="">
                <span *ngIf="driver.tipo_vehiculo === 'Carro'">
                    <i class="fa fa-car" aria-hidden="true"></i>
                </span>
                <span *ngIf="driver.tipo_vehiculo === 'Moto'">
                    <i class="fas fa-motorcycle"></i>
                </span>
                <span *ngIf="driver.tipo_vehiculo === 'Camion'">
                    <i class="fas fa-truck"></i>
                </span>
                <span *ngIf="driver.tipo_vehiculo === 'Camioneta'">
                    <i class="fas fa-truck-pickup"></i>
                </span>
                <span *ngIf="driver.tipo_vehiculo === 'Pickup'">
                    <i class="fas fa-truck-pickup"></i>
                </span>
                <span *ngIf="driver.tipo_vehiculo === 'Van'">
                    <i class="fas fa-truck-loading"></i>
                </span>
            </div>
        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->

            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>
    <!-- Numero de Trackig -->
    <!-- <div class="num_tracking">
        <i class="fa fa-list"></i>
        <h3>Numero de Trackig</h3>
        <p>{{venta.tracking_number}}</p>
    </div> -->
    <!-- Observaciones -->
    <div class="itemdeliveryDesc" *ngIf="delivery.descripcion">
        <h3>Observaciones / Instrucciones: </h3>
        <p>{{delivery.descripcion}}</p>
    </div>
    <!-- Lista entrega-->
    <div class="status">
        <h1>Detalles</h1>
        <summary>
            <details>
                <!-- <div *ngFor="let detalle of detalles">
                    <app-item-list [detalle]="detalle"></app-item-list>
                </div> -->
                <app-itemcard [delivery]="delivery" [display]="display"></app-itemcard>
            </details>
        </summary>


    </div>
    <br>
    <!-- Status Entrega-->

    <button class="boton_azul_borde" style="margin-bottom: 80px;"
        *ngIf="identity.role ==='USER' && delivery.status==='Entregado'">
        Calificar
    </button>
    <button class="boton_azul_borde" (click)="marcarRecibido()" style="margin-bottom: 80px;"
        *ngIf="identity.role ==='USER' && delivery.status==='Entregado'">
        Marcar como Recibido
    </button>
    <button class="boton_azul_borde" (click)="marcarEntregado()" style="margin-bottom: 80px;"
        *ngIf="identity.role ==='CHOFER' && delivery.status !=='Entregado' && delivery.status !=='Confirmado' ">
        Marcar como Entregado
    </button>

</div>
<app-menufooter></app-menufooter>