.inicio{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.logo_inicio {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.logo_inicio img{
    height: auto;
    width: 120px;
    display: flex;
    padding-bottom: 20px;
}


.logo_inicio h4{
    text-align: center;
    font-size: 14px;
    color: var(--azul);
}