<app-header></app-header>
<app-loading *ngIf="isLoading"></app-loading>
<div class="container" *ngIf="!isLoading" style="margin-bottom: 60px;">
    <div class="saludo">
        <h2>Hola, {{identity.first_name}}!</h2>
    </div>

        <!-- <div class="pedidos_recientes">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="pedidos_recientes">
            <h2>Envios</h2>
        </div>
        <div class="pedidos_recientes">
            <h2>Delivery</h2>
        </div>
        <div class="pedidos_recientes">
            <h2>Publicidad</h2>
        </div>
        <div class="pedidos_recientes">
            <h2>Promociones</h2>
        </div> -->
        <!-- <div class="options_tabs">
            <div class="option">
                Por Pagar
            </div>
            <div class="option">
                Por Recibir
            </div>
            <div class="option">
                Por Review
            </div>
        </div> -->

        <!-- <app-order-list [statusC]="'Asignado'" [statusD]="'Asignado'"  [identityId]="userId"></app-order-list> -->

        <app-start-delivery [identityId]="identityId" [identity]="identity"></app-start-delivery>

    </div>
<app-menufooter></app-menufooter>
