<div class="container mt-3">
    <app-loading *ngIf="isLoading"></app-loading>
    <app-back *ngIf="!isLoading && delivery"></app-back>
    <app-itemcard *ngIf="!isLoading && delivery" [delivery]="delivery"></app-itemcard>
    <h2>Hacia dónde quieres  
enviar tus artículos?</h2>

<form class=" p-t-20 col-xs-12" [formGroup]="deliveryForm" >
    <div class="col-sm-6">
        <div class="form-group ">
            <label>Desde</label>
            <div class="formcoord">
                <i class="fa fa-map-pin" (click)="cargarMapa()"></i>
                <input class="form-control" type="text"  required placeholder="direccionRecogida"
                    formControlName="direccionRecogida">
                <i class="fa fa-plus" (click)="addRouta($event)"></i>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group ">
            <label>Hasta</label>
            <div class="formcoord">
                <i class="fa fa-map-pin" (click)="cargarMapa()"></i>
                <input class="form-control" type="text" required placeholder="direccionEntrega"
                    formControlName="direccionEntrega">
                <i class="fa fa-plus" (click)="addRoutaDestino($event)"></i>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <h4>Mis Direcciones</h4>
    <ul class="direcciones-list">
        <li routerLink="/myprofile/direccion/create">
            <i class="fa fa-plus"></i>
            Añadir
        </li>
        <li *ngFor="let direccion of direcciones" (click)="selectDireccion(direccion)">
            <i class="fa fa-map-pin"></i>
            {{ direccion.nombres_completos }}
        </li>
    </ul>
    <button type="submit" [disabled]="deliveryForm.invalid"
        class="boton_azul_borde mb-5 w-100" (click)="onSubmit()">
       Siguiente
    </button>
</form>

</div>