.direcciones-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    & li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5px;
        list-style: none;
        font-size: 16px;
        margin-bottom: 10px;

        & .fa {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: #f1f2f3;
            background-color: #4c95e3;
            border-radius: 100px;
            border: 1px solid #4c95e3;
            padding: 14px;
            font-size: 24px;
            width: 48px;
            height: 48px;
        }
    }
}

.formcoord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px
}